@import url('https://rsms.me/inter/inter-ui.css');
body {
  margin:0;
  padding:0;
  background:#fff;
  color:#000;
  position:relative;
  font-family: 'Inter UI', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 18px;
  text-transform: none;
  text-align: left;
  transition: all ease-in-out .3s;
}
.name, a, .name a{color:#000000;}
a{text-decoration: none;}
a:visited{color:#000000;}
a:hover{color:#b0b0b0; transition: color .2s ease-out; -webkit-transition: color .2s ease-out;}

@media(max-width:640px){

}
