@import url('https://rsms.me/inter/inter-ui.css');
body {
  margin:10px;
  padding:0;
  background: #000;
  color:#BCBDC0;
  font-family: 'Inter UI', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  overflow: hidden;
}
a, a{color:#BCBDC0;}
a{text-decoration: none;}
a:visited{color:#BCBDC0;}
a:hover{color:#A1A1A1; transition: color .2s ease-out; -webkit-transition: color .2s ease-out;}
.container{position: absolute; top:0px; height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center;}
.bio{width:500px; height: 300px;}
.contact{position: fixed; bottom: 0px; right:10px;}

@media all and (max-width: 1440px){
body {font-size: 54px; line-height: 64px;}
.bio{width:322px; height: 190px;}
.contact{left:10px;}
}

@media only screen and (max-device-width: 428px){
.container{position: relative; display:inline-block; height: 100%; width: 100%; padding: 50px 0px 50px 0px;}
.contact{position: relative; bottom: 0px; left: 0px;}
}
