:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
body {
  margin:4vh 4vw 0vh 6vw;
  padding:0;
  background: #fff;
  color:#000;
  font-family: Inter, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 8.4vw;
  line-height: 8.4vw;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
p{margin:0px;}
a, a{color:#9F9F9F;}
a{text-decoration: none;}
a:visited{color:#9F9F9F;}
a:hover{color:#000; transition: color .3s ease; -webkit-transition: color .3s ease;}

/*@media all and (min-width: 768px) and (max-width: 2560px){
  body {font-size: 120px; line-height: 132px;}
}

@media only screen and (max-width: 844px){
  body {font-size: 16px; line-height: 22px;}
}*/
