@import url('https://rsms.me/inter/inter-ui.css');
body {
  margin:0px;
  padding:0;
  background: #F2F2F2;
  color:#9F9F9F;
  font-family: 'Inter UI', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}
hr{height: 1px; background:#9F9F9F; border-style: none; }
p{margin:0px;}
a, a{color:#9F9F9F;}
a{text-decoration: none;}
a:visited{color:#9F9F9F;}
a:hover{color:#fff; transition: color .3s ease; -webkit-transition: color .3s ease;}
.lightlink:hover{color:#000; transition: color .3s ease; -webkit-transition: color .3s ease;}
.large{color:rgba(255, 255, 255, 0.8); font-size: calc((2.8 - 1) * 1.2vw + 1rem); line-height: 1.2; margin: 40px 0px 60px 0px;}
.btn{display: inline-block; padding: 14px 18px; border-radius: 12px; white-space: nowrap;}
.btnlight{ background: rgba(255, 255, 255, 0.1);}
.btndark{ background: rgba(0, 0, 0, 0.05);}
.btnlight:hover{color: #fff; background: rgba(255, 255, 255, 0.15); transition: opacity .5s ease;}
.btndark:hover{color: #000; background: rgba(0, 0, 0, 0.1);}
.headercontainer{padding: 20px 0px; background: rgba(0, 0, 0, 0);}
.headercontainer{display: flex; justify-content:space-between; align-items:center;}
.project, .container, .headercontainer{margin: 0px 6vw 0px 6vw;}
.sentence{width: 80%;}
.project img, .container img{width: 100%; object-fit: contain;}
.images img{margin: 40px 0px;}
.pDetails{display: flex; justify-content:space-between; margin: 20px 0px 40px 0px;}
.light{color: #fff;}
.dark{color: #000;}
.footertext{display: flex; justify-content:space-between; padding: 40px 6vw 40px 6vw;}

@media all and (min-width: 768px) and (max-width: 2560px){
  body {font-size: 24px; line-height: 32px;}
  .project{display: inline-block; padding: 50px 50px 1px 50px; margin: 40px 0px;}
}

@media only screen and (max-width: 844px){
  body {font-size: 16px; line-height: 22px;}
  .sentence{width: 100%;}
  .desc{margin: 18px; max-width: 450px;}
  .project{padding: 0px; margin: 40px 0px;}
  .images img {margin: 10px 0px;}
}
